<!DOCTYPE html>
<html>
<head>
  <title> Welcome Epic Energy Services</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<div class="header-menu">Epic Energy Services</div>
<div class="container-menu">
  <div class="item-menu"><a href="/Comuni/mostraelenco">Comuni</a></div>
  <div class="item-menu"><a href="/Province/mostraelenco">Province</a></div>
</div>
<div class="footer">Powered by Jacopo</div>
</body>
</html>